@media (max-width: 768px) {
  header span {
    display: none;
  }
  section.actions {
    top: 130px;
  }
  section.actions #todo-list {
    width: var(--tab-sizing-m);
  }
  section.actions #timer {
    width: var(--tab-sizing-m);
  }
  section.actions #note {
    width: var(--tab-sizing-m);
  }
  footer {
    width: 90%;
    left: 5%;
  }
  footer p {
    font-size: var(--font-xs);
  }
  section.actions .tab .tab-panel {
    gap: var(--gap-l);
    flex-direction: row;
    bottom: 100%;
    right: 0;
    transform: translateY(-10px);
  }
}
