:root,
[data-theme="light"] {
  --font-xxl: 48px;
  --font-xl: 32px;
  --font-l: 23px;
  --font-s: 18px;
  --font-xs: 15px;

  --rounded-l: 14px;
  --rounded-s: 4px;

  --rounded-first: var(--rounded-l) var(--rounded-s) var(--rounded-s) var(--rounded-l);
  --rounded-last: var(--rounded-s) var(--rounded-l) var(--rounded-l) var(--rounded-s);

  --btn-sizing-l: 38px;
  --btn-sizing-s: 28px;

  --tab-sizing: 30vw;
  --tab-sizing-m: 90vw;

  --padding-l: 10px;
  --padding-s: 5px;

  --gap-l: 10px;
  --gap-s: 4px;

  /*   colors    */
  --bg-primary-1: #fff5;
  --bg-primary-2: #fffa;
  --bg-secondary: #0002;

  --txt-color: black;

  --btn-bg-color: var(--bg-primary-1);
  --btn-bg-color-hover: black;
  --btn-txt-color: var(--txt-color);
  --btn-txt-color-hover: white;
  --del-txt-btn: #ff5858;
}
[data-theme="dark"] {
  --bg-primary-1: #0005;
  --bg-primary-2: #000a;
  --bg-secondary: #fff2;

  --txt-color: white;

  --btn-bg-color: var(--bg-primary-1);
  --btn-bg-color-hover: white;
  --btn-txt-color: var(--txt-color);
  --btn-txt-color-hover: black;
  --del-txt-btn: #ff5858;
}
@font-face {
  font-family: "shabnam";
  src: url(../Shabnam.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: shabnam;
}
body {
  background-image: url(../Media/US-wp5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: var(--txt-color);
}
button,
a {
  cursor: pointer;
  transition: 100ms;
}
button:hover,
a:hover {
  background-color: var(--btn-bg-color-hover) !important;
  color: var(--btn-txt-color-hover) !important;
}
input:focus,
textarea:focus,
input,
textarea {
  outline: unset;
  color: var(--txt-color) !important;
}

/*   Header   */
header {
  width: 90%;
  left: 5%;
  top: 20px;
  position: fixed;

  background-color: var(--bg-primary-1);
  backdrop-filter: blur(5px);
  padding: var(--padding-l);
  border-radius: var(--rounded-l);

  display: flex;
  align-items: center;
  justify-content: space-between;
}
header p {
  font-size: var(--font-xs);
  display: flex;
  align-items: center;
}
header p i {
  font-weight: 400;
  font-size: var(--font-xl);
  margin-right: 10px;
}
strong {
  font-size: inherit;
}
header button {
  background-color: var(--bg-primary-1);
  color: var(--btn-txt-color);
  border: unset;
  font-size: var(--font-l);
  padding: var(--padding-s);
  width: var(--btn-sizing-l);
  height: var(--btn-sizing-l);
  border-radius: var(--rounded-s);
}
header button.active {
  background-color: var(--btn-bg-color-hover) !important;
  color: var(--btn-txt-color-hover) !important;
}
header div.btn-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-l);
}

/*   main   */
section.actions {
  position: fixed;
  top: 98px;
  right: 5%;
}
section.actions .tab {
  padding: var(--padding-l);
  border-radius: var(--rounded-l);
  background-color: var(--bg-primary-1);
  backdrop-filter: blur(5px);
  position: absolute;
  top: 0;
  right: 0;
  transition: 100ms;
  transform: translateY(-10%);
  opacity: 0;
  z-index: 1;
  display: none !important;
}
section.actions .tab.visible {
  opacity: 1;
  z-index: 2;
  transform: translateY(0);
}
.tab.active.active {
  display: flex !important;
}

section.actions .tab .tab-panel {
  display: flex;
  gap: var(--gap-l);
  flex-direction: column;
  align-items: flex-end;
  width: fit-content;

  position: absolute;
  top: 0;
  right: 100%;
  transform: translateX(-10px);
}
section.actions .tab .tab-panel .tab-name {
  font-size: var(--font-s);
  color: var(--txt-color);
  background-color: var(--bg-primary-2);
  display: inline-block;
  width: fit-content;
  padding: var(--padding-s) var(--padding-l);
  border-radius: var(--rounded-l);
  white-space: nowrap;
}
.close-tab {
  width: fit-content !important;
  height: fit-content !important;
  padding: 5px 10px !important;
  font-size: var(--font-s) !important;
  border-radius: var(--rounded-l) !important;

  background-color: var(--bg-primary-2) !important;
  backdrop-filter: blur(5px);

  color: var(--btn-txt-color);
  border: unset;
  white-space: nowrap;
}
.close-tab:hover {
  color: var(--del-txt-btn) !important;
}

/*   Todo List   */
section.actions #todo-list {
  display: flex;
  flex-direction: column;
  gap: var(--gap-l);
  width: var(--tab-sizing);
  min-width: 250px;
}
section.actions #todo-list .todo-input {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: var(--gap-s);
}
section.actions #todo-list .todo-input input {
  font-size: var(--font-l);
  padding: var(--padding-s);
  height: var(--btn-sizing-l);
  width: 100%;

  background-color: var(--bg-primary-2);
  border: unset;
  border-radius: var(--rounded-s);
}
section.actions #todo-list button {
  background-color: var(--bg-primary-1);
  color: var(--btn-txt-color);
  border: unset;
  font-size: var(--font-l);
  padding: var(--padding-s);
  width: var(--btn-sizing-l);
  height: var(--btn-sizing-l);
  border-radius: var(--rounded-s);
}
section.actions #todo-list .todo-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);
  max-height: 300px;
  overflow: auto;
}
section.actions #todo-list .todo-list li {
  padding: var(--padding-s);
  height: var(--btn-sizing-l);

  background-color: var(--bg-primary-1);
  border-radius: var(--rounded-s);

  display: flex;
  gap: var(--gap-s);
}
section.actions #todo-list .todo-list li input {
  font-size: var(--font-s);
  background-color: transparent;
  border: unset;
  width: 100%;
  border-radius: var(--rounded-s);
}

section.actions #todo-list .todo-list li input:not(:read-only) {
  background-color: var(--bg-secondary);
}
section.actions #todo-list .todo-list li div {
  margin-left: auto;
  gap: var(--gap-s);
  display: flex;
  align-items: center;
  justify-content: center;
}

section.actions #todo-list .todo-list li button {
  font-size: var(--font-s);
  width: var(--btn-sizing-s);
  height: var(--btn-sizing-s);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
section.actions #todo-list .todo-list li input[type="checkbox"] {
  font-size: var(--font-s);
  width: var(--btn-sizing-s) !important;
  height: var(--btn-sizing-s) !important;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  border: 2px black solid;
  cursor: pointer;
  flex-shrink: 0;
}

section.actions #todo-list .todo-list li button.delete-todo:hover {
  color: var(--del-txt-btn) !important;
  background-color: var(--btn-bg-color) !important;
}
/*   Todo Checked   */
section.actions #todo-list .todo-list li input[type="checkbox"]:checked::before {
  content: "\2713";
  font-weight: 900;
}
section.actions #todo-list .todo-list li.checked {
  background-color: var(--bg-secondary);
}
section.actions #todo-list .todo-list li.checked input[type="text"] {
  text-decoration: line-through;
}

/*    timer   */
section.actions #timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-l);
  text-align: center;
  width: var(--tab-sizing);
}
section.actions #timer input {
  background-color: transparent;
  border: unset;
  font-size: var(--font-xxl);
  text-align: center;
  border-radius: var(--rounded-s);
  height: var(--font-xxl);
}
section.actions #timer input:not(:read-only) {
  background-color: var(--bg-secondary);
}
section.actions #timer .btn-bar {
  display: flex;
  gap: var(--gap-s);
}
section.actions #timer .btn-bar button {
  font-size: var(--font-l);
  width: var(--btn-sizing-l);
  height: var(--btn-sizing-l);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-primary-1);
  color: var(--btn-txt-color);
  border: unset;
  padding: var(--padding-l);
  border-radius: var(--rounded-s);
}
section.actions #timer .btn-bar button:first-of-type {
  border-radius: var(--rounded-first);
}
section.actions #timer .btn-bar button:last-of-type {
  border-radius: var(--rounded-last);
}
section.actions #timer .suggestions {
  display: flex;
  align-items: center;
  gap: var(--gap-s);
}
section.actions #timer .suggestions p {}
section.actions #timer .suggestions button {
  font-size: var(--font-l);
  background-color: var(--bg-primary-1);
  color: var(--btn-txt-color);
  border: unset;
  padding: var(--padding-s);
  border-radius: var(--rounded-s);
}

/*   Note   */
section.actions #note {
  width: var(--tab-sizing);
}
section.actions #note textarea {
  background-color: var(--bg-primary-1);
  border: unset;
  border-radius: var(--rounded-s);
  font-size: var(--font-s);
  resize: none;
  width: 100%;
}
section.actions #note textarea::placeholder {
  font-size: var(--font-s);
}

/*   Footer   */
footer {
  position: fixed;
  bottom: 20px;
  left: 25%;
  width: 50%;

  background-color: var(--bg-primary-1);
  backdrop-filter: blur(5px);
  padding: var(--padding-l);
  border-radius: var(--rounded-l);

  display: flex;
  justify-content: space-between;
  gap: var(--gap-l);
}
footer h1 {
  font-weight: lighter;
}
footer h1 strong {
  font-weight: bold;
}

footer ul.social-btn {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-s);
}
footer ul.social-btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--btn-txt-color);
  width: var(--btn-sizing-l);
  height: var(--btn-sizing-l);
  font-size: var(--font-l);
  padding: var(--padding-s);
  background-color: var(--bg-primary-1);
  border-radius: var(--rounded-s);
}
footer ul.social-btn li:first-of-type a {
  border-radius: var(--rounded-first);
}
footer ul.social-btn li:last-of-type a {
  border-radius: var(--rounded-last);
}
.clear-memory {
  width: fit-content !important;
  height: fit-content !important;
  padding: 5px 10px !important;
  font-size: var(--font-xs) !important;
  border-radius: var(--rounded-l) !important;

  background-color: var(--bg-primary-2) !important;
  backdrop-filter: blur(5px);

  color: var(--btn-txt-color);
  border: unset;
  white-space: nowrap;

  position: absolute;
  top: -10px;
  left: 0;
  transform: translate(0, -100%);
}
